
<footer id="footer">
  <div id="copyright-div">
    <strong id="copyright-symbol"> &copy; </strong> Copyright <strong><span> Itish Agarwal 2020 </span></strong>. All Rights Reserved
  </div>
</footer>