<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/"> 
        <% if(locals.user) { %>
          <%= locals.user.name %>
        <% } else { %>
          Friendsara
        <% } %>
      </a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>

          <% if(!locals.user) { %>

            <li><a href="#about">About</a></li>

            <li><a href="#footer">Contact</a></li>
            <li><a href="<%=locals.back%>">Back</a></li>
          <% } else { %>
            <li><a href="/users/profile/<%=locals.user.id%>">Profile</a></li>

            <li><a href="/users/sign-out">Sign Out</a></li>

            <li><a href="/">Back</a></li>
          <% } %>
        </ul>
      </nav>

    </div>
  </header>