<link rel="stylesheet" href="/css/user_sign_in.css">


<% if(token.isValid) { %>

    <h1> Reset your password here </h1>

    <form action="/users/change-password" method="POST">
        <input type="password" name="password" placeholder="Enter new password" required>
        <input type="password" name="confirm_password" placeholder="Confirm password" required>
        <input type="hidden" name="access_token" value="<%= token.accessToken %>">
        <input type="submit" value="Reset">
    </form>
<% } else { %>

    <h3> Sorry, your token has expired :( </h3>

<% } %>
