<link rel="stylesheet" href="/css/forgot-password.css">


<div id="home-container">
    <div id="front-page-div">
        <div id="image-div">
            <img src="/images/front_page15.jpeg" alt="Codeial">
        </div>
        <div id="front-page-login">
            
            <div id="navbar-div">
                <div id="back-button">
                    <a style="color:black;" href="/">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>

            <div id="form-container">

                <div id="name-div" class="one-div">
                    <span id="name-span">
                        Codeial
                    </span>
                </div>

                <div  class="one-div">
                    <h2 style="border-bottom: 1px solid grey;"> Forgot password </h2>
                </div>

                <div class="one-div" id="instruction-div">
                    <p> Please enter your email to continue </p>
                </div>

                <form style="margin-top: 1rem;" action="/users/reset-password" method="POST">
                    <div class="one-div">
                        <input class="inputs" type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="one-div">
                        <input id="submit-button" type="submit" value="Submit">
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>




































<!-- <link rel="stylesheet" href="/css/user_sign_in.css">

<h1> Forgot password </h1>

<p> Enter your email to continue </p>

<form action="/users/reset-password" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" value="Submit">
</form> -->
