<link rel="stylesheet" href="/css/user_sign_up.css">

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1> Sign Up </h1>

          <div id="form-container"> 
            <form id="sign-up-form" action="/users/create" method="POST">
              <div class="one-div">
                  <input class="inputs" type="name" name="name" placeholder="Enter name" required>
              </div>
              <div class="one-div">
                  <input class="inputs" type="email" name="email" placeholder="Enter email" required>
              </div>
              <div class="one-div">
                  <input class="inputs" type="password" name="password" placeholder="Choose password" required>
              </div>
              <div class="one-div">
                  <input class="inputs" type="password" name="confirm_password" placeholder="Confirm password" required>
              </div>
              <div class="one-div">
                  <input id="submit-button" type="submit" value="Register">
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">  