
#home-container {

    // border: 2px solid grey;
    // border-radius: 5px;
    min-height: 95vh;
    margin: auto;
    // width: 98.7%; 
    display: flex;
    justify-content: space-around;
    margin-top: 3.4rem;
    margin-bottom: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-image: linear-gradient(45deg, #eac6ec 0%, #caecf5 52%, #acf3cb 90%);
    
    #dashboard-div {
        width: 22%;
        border-radius: 4px 0 0 4px;
        border-right: 2px solid rgb(185, 185, 185);
    }

    #feed-posts {    
        min-height: 95vh;   
        width: 55%;
        max-height: 95vh;
    }

    #display-users-div {
        width: 23%;
        border-radius: 0px 4px 4px 0px;
    }
}


#dashboard-div {
    background-color: #08AEEA;
    // background-image: linear-gradient(-45deg, #063242, #3b67b8, #082733);
    background-image: linear-gradient(-45deg, #c0e3f0, #b5fadb, #c0e3f0);
// background-image: url('/images/background5.jpg');


    #me-container {
        height: 300px;
        width: 80%;
        margin: auto;
        margin-top:2.4rem;
        text-align: center;
        padding: 40px 0 0 0;
        // background-color: red;

        #dp-container {
            width: 155px;
            height: 160px;
            margin: auto;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: 2px solid grey;
            }   
        }

        #name-container {
            padding: 20px;

            span {
                display: inline-block;
                font-size: 1.5rem;
                a {
                    color: rgb(66, 64, 64);
                }
                a:hover {
                    color: black;
                }
            }
        }
    }

    #menu-name-container {
        width: 80%;
        height: 40px;
        margin: auto;
        margin-bottom: 0.6rem;
        span {
            font-size: 1.5rem;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    #menu-div {
        width: 80%;
        height: 400px;
        margin: auto;

        .a-tag-link {
            display: flex;
            height: 50px;
            width: 100%;
            color: black;
            padding-left: 2px;
            justify-content: space-around;

            .icon-div {
                height: 100%;
                width: 16%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    display: inline-block;
                    font-size: 1.36rem;
                }
            }

            .actual-option {
                height: 100%;
                width: 82%; 
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                    padding-left: 4px;
                    width: 100%;
                    font-size: 1.1rem;
                }
            }
        }
        .active{
            color:rgb(53, 53, 243);
        }
        .a-tag-link:hover {
            color: black;
        }
    }
}

//user friends
#display-users-div {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #cc7af1 100%);
 

    padding-top: 3.4rem;
    border-radius: 0 7px 7px 0;
    #friends-div {
        width: 100%;
        height: 50%;
        overflow-y: scroll;
        overflow-x: hidden;
        #heading-friends {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 15px;
            i {
                display: inline-block;
                font-size: 1.5rem;
                margin-right: 10px;
                color: white;
            }
            span {
                display: inline-block;
                font-size: 1.62rem;
                font-weight: bold;
                color: white;
            }
        }

        #friends-list-div {
            width: 100%;
            .user-friend-div {
                width: 100%;
                padding: 8px 0;
                a {
                    display: inline-block;
                    font-size: 1.3rem;
                    padding-left: 20px;
                    color: black;
                }
            }            
        }
    }

    #non-friends-div {
        width: 100%;
        height: 50%;
        overflow-y: scroll;
        overflow-x: hidden;
        #heading-non-friends {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 15px;
            i {
                display: inline-block;
                font-size: 1.5rem;
                margin-right: 10px;
                color: white;
            }
            span {
                display: inline-block;
                font-size: 1.62rem;
                font-weight: bold;
                color: white;
            }
        }
        #non-friends-list-div {
            width: 100%;
            .user-friend-div {
                width: 100%;
                padding: 8px 0;
                a {
                    display: inline-block;
                    font-size: 1.3rem;
                    padding-left: 20px;
                    color: black;
                }
            }            
        }
    }
}


//feed-posts 
#feed-posts {

    background-color: #FA8BFF;
// background-image: linear-gradient(45deg, #eac6ec 0%, #caecf5 52%, #acf3cb 90%);
background: url("/images/background22.jpg");
overflow-y: scroll;
overflow-x: hidden;

    #post-now-heading {
        width: 100%;
        height: 55px;
        // background-color: red;
        margin-top: 2.7rem;
        padding-left: 1.4rem;
        span {
            display: inline-block;
            font-size: 1.9rem;
            font-weight: bold;
            font-family:Arial, Helvetica, sans-serif;
        }
    }

    #post-form-div {
        width: 100%;
        height: 130px;
        padding-left: 1.4rem;
        #new-post-form {
            textarea {
                display: block;
                outline: none;
                border: none;
                padding: 5px 10px;
            }
            #postBtn {
                margin-top: 5px;
                outline: none;
                background-color: white;
                // font-size:1rem;
                border-radius: 4px;
                // padding: 1px 6px;
            }
            #postBtn:hover {
                background-color: rgb(240, 241, 245);
            }
        }
    }

    #recent-posts-heading {
        width: 100%;
        height: 45px;
        margin-top: 1rem;
        padding-left: 1.4rem;
        span {
            display: inline-block;
            font-size:1.5rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    #posts-list-container {
        li {    
            .delete-post-button {
                font-size: 0.9rem;
            }
            .delete-post-button:hover {
                color: rgb(87, 87, 87);
            }
            .post-comments {
                max-height: 250px;
                overflow-y: scroll;
                form {
                    .comment-input {
                        outline: none;
                        border: none;
                        font-size: 0.75rem;
                        padding: 2px 4px;
                    }
                    #commentBtn {
                        font-size: 0.75rem;
                        border-radius: 4px;
                        outline: none;
                        background-color: white;
                    }
                    #commentBtn:hover {
                        background-color: rgb(240, 241, 245);
                    }
                }
            }
        }
    }
}