
#home-container {
    // background-color: red;
    height: 90vh;
    margin: auto;
    width: 96%; 
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    
    #dashboard-div {
        height: 100%;
        width: 24%;
        border-radius: 7px 0 0 7px;
        background-image: linear-gradient(-120deg, #e7ebec, #d0d9e0, #98a3a6);
    }

    #feed-posts {
        height: 100%;
        width: 53%;
        background-color: lightgrey;
    }

    #user-friends {
        height: 100%;
        width: 23%;
        background-color: brown;
    }
}


#dashboard-div {

    #me-container {
        height: 350px;
        width: 80%;
        margin: auto;
        margin-top:2.4rem;
        text-align: center;
        padding: 40px 0 0 0;
        // background-color: red;

        #dp-container {
            width: 150px;
            height: 150px;
            margin: auto;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        #name-container {
            padding: 20px;

            span {
                display: inline-block;
                font-size: 1.5rem;
                a {
                    color: rgb(66, 64, 64);
                }
                a:hover {
                    color: black;
                }
            }
        }
    }

    #menu-name-container {
        width: 80%;
        height: 40px;
        margin: auto;
        margin-bottom: 0.6rem;
        span {
            font-size: 1.5rem;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    #menu-div {
        width: 80%;
        height: 400px;
        margin: auto;
        // background-color: magenta;

        .a-tag-link {
            display: flex;
            height: 50px;
            width: 100%;
            color: rgb(73, 70, 70);
            padding-left: 2px;
            justify-content: space-around;

            .icon-div {
                height: 100%;
                width: 16%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    display: inline-block;
                    font-size: 1.36rem;
                }
            }

            .actual-option {
                height: 100%;
                width: 82%; 
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                    padding-left: 4px;
                    width: 100%;
                    font-size: 1.1rem;
                }
            }
        }
        .active{
            color:rgb(53, 53, 243);
        }
        .a-tag-link:hover {
            color: black;
        }
    }
}

