
#body-container {
    border: 2px solid grey;
    border-radius: 5px;
    width: 98.7%;
    height: 87vh;
    margin: auto;
    margin-top: 5.7rem;
    margin-bottom: 65px;
    // background-image: linear-gradient(120deg,#8e9eab, #eef2f3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    
    display: flex;
    justify-content: space-around;

    #dashboard-div {
        height: 100%;
        width: 22.5%;
        border-radius: 5px 0 0 5px;
        border-right: 3px solid rgb(185, 185, 185);
    }

    #profile-container {
        background-image: linear-gradient(-45deg, #f09ea8, #bbddf0, #f5a6af);
        height: 100%;
        width: 80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;

        #profile-pic-container {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 4px rgba(0, 0, 0, .1);
            border: 1px solid black;
            img {
                height: 100%;
                width: 100%;
                background-color:rgb(224, 220, 220);
            }
        }

        #name-container {
            padding: 8px;
            span {
                display: inline-block;
                font-size: 2rem;
            }
        }

        #add-friend-container {
            padding: 10px;
            // background-color: rgb(116, 121, 121);
            font-size: 1.2rem;
            a {
                color: rgb(92, 92, 236);
            }
            a:hover {
                color: rgb(39, 39, 233);
            }
        }

        #form-container {
            margin-top: 18px;
            input {
                outline: none;
                border: none;
                font-size: 1rem;
                padding: 6px 9px;
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 3px;
            }
            input:hover {
                border: 1px solid grey;
                box-shadow: 2px 1.5px 1px #b8b3b3;
            }
            input[type="email"] {
                width:17rem;
            }
            input[type="submit"] {
                background-color: #1877f2;
                cursor: pointer;
                color: white;
                font-weight: bold;
            }
            input[type="submit"]:hover {
                background-color: #0d68e0;
                box-shadow: 2px 1.5px 1px #e4dddd;
                border: 1px solid transparent;
            }
            input[type="file"] {
                background-image: linear-gradient(90deg,#8e9eab, #eef2f3);
                border: 1px solid black;
                padding: 4px;
            }
        }
    }
}


#dashboard-div {
    background-color: #08AEEA;
background-image: linear-gradient(-45deg, #c0e3f0, #b5fadb, #c0e3f0);

    #me-container {
        height: 300px;
        width: 80%;
        margin: auto;
        margin-top:2.4rem;
        text-align: center;
        padding: 40px 0 0 0;
        // background-color: red;

        #dp-container {
            width: 150px;
            height: 150px;
            margin: auto;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        #name-container {
            padding: 20px;

            span {
                display: inline-block;
                font-size: 1.5rem;
                a {
                    color: rgb(66, 64, 64);
                }
                a:hover {
                    color: black;
                }
            }
        }
    }

    #menu-name-container {
        width: 80%;
        height: 40px;
        margin: auto;
        margin-bottom: 0.6rem;
        span {
            font-size: 1.5rem;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    #menu-div {
        width: 80%;
        height: 400px;
        margin: auto;
        // background-color: magenta;

        .a-tag-link {
            display: flex;
            height: 50px;
            width: 100%;
            color: rgb(73, 70, 70);
            padding-left: 2px;
            justify-content: space-around;

            .icon-div {
                height: 100%;
                width: 16%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    display: inline-block;
                    font-size: 1.36rem;
                }
            }

            .actual-option {
                height: 100%;
                width: 82%; 
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                    padding-left: 4px;
                    width: 100%;
                    font-size: 1.1rem;
                }
            }
        }
        .active{
            color:rgb(53, 53, 243);
        }
        .a-tag-link:hover {
            color: black;
        }
    }
}
