<h2> Reset password | Codeial </h2>

<p> Please visit the link below to continue </p>

<p>
    <a href="http://localhost:8000/users/reset-password-form/?access_token=<%=token.accessToken%>">
        Reset password
    </a>
</p>