#home-container {
  height: 90vh;
  margin: auto;
  width: 96%;
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  margin-bottom: 2.5rem; }
  #home-container #dashboard-div {
    height: 100%;
    width: 24%;
    border-radius: 7px 0 0 7px;
    background-image: linear-gradient(-120deg, #e7ebec, #d0d9e0, #98a3a6); }
  #home-container #feed-posts {
    height: 100%;
    width: 53%;
    background-color: lightgrey; }
  #home-container #display-users-div {
    height: 100%;
    width: 23%; }

#dashboard-div #me-container {
  height: 350px;
  width: 80%;
  margin: auto;
  margin-top: 2.4rem;
  text-align: center;
  padding: 40px 0 0 0; }
  #dashboard-div #me-container #dp-container {
    width: 150px;
    height: 150px;
    margin: auto; }
    #dashboard-div #me-container #dp-container img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
  #dashboard-div #me-container #name-container {
    padding: 20px; }
    #dashboard-div #me-container #name-container span {
      display: inline-block;
      font-size: 1.5rem; }
      #dashboard-div #me-container #name-container span a {
        color: #424040; }
      #dashboard-div #me-container #name-container span a:hover {
        color: black; }

#dashboard-div #menu-name-container {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-bottom: 0.6rem; }
  #dashboard-div #menu-name-container span {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

#dashboard-div #menu-div {
  width: 80%;
  height: 400px;
  margin: auto; }
  #dashboard-div #menu-div .a-tag-link {
    display: flex;
    height: 50px;
    width: 100%;
    color: #494646;
    padding-left: 2px;
    justify-content: space-around; }
    #dashboard-div #menu-div .a-tag-link .icon-div {
      height: 100%;
      width: 16%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #dashboard-div #menu-div .a-tag-link .icon-div i {
        display: inline-block;
        font-size: 1.36rem; }
    #dashboard-div #menu-div .a-tag-link .actual-option {
      height: 100%;
      width: 82%;
      display: flex;
      align-items: center; }
      #dashboard-div #menu-div .a-tag-link .actual-option span {
        display: inline-block;
        padding-left: 4px;
        width: 100%;
        font-size: 1.1rem; }
  #dashboard-div #menu-div .active {
    color: #3535f3; }
  #dashboard-div #menu-div .a-tag-link:hover {
    color: black; }

#display-users-div {
  background-image: linear-gradient(-120deg, #b2bdc1, #d0d9e0, #e7ebec);
  padding-top: 4rem;
  border-radius: 0 7px 7px 0; }
  #display-users-div #friends-div {
    width: 100%;
    height: 50%; }
    #display-users-div #friends-div #heading-friends {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 15px; }
      #display-users-div #friends-div #heading-friends i {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 10px; }
      #display-users-div #friends-div #heading-friends span {
        display: inline-block;
        font-size: 1.62rem;
        font-weight: bold; }
    #display-users-div #friends-div #friends-list-div {
      width: 100%; }
      #display-users-div #friends-div #friends-list-div .user-friend-div {
        width: 100%;
        padding: 8px 0; }
        #display-users-div #friends-div #friends-list-div .user-friend-div a {
          display: inline-block;
          font-size: 1.3rem;
          padding-left: 20px; }
  #display-users-div #non-friends-div {
    width: 100%;
    height: 50%; }
    #display-users-div #non-friends-div #heading-non-friends {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 15px; }
      #display-users-div #non-friends-div #heading-non-friends i {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 10px; }
      #display-users-div #non-friends-div #heading-non-friends span {
        display: inline-block;
        font-size: 1.62rem;
        font-weight: bold; }
    #display-users-div #non-friends-div #non-friends-list-div {
      width: 100%; }
      #display-users-div #non-friends-div #non-friends-list-div .user-friend-div {
        width: 100%;
        padding: 8px 0; }
        #display-users-div #non-friends-div #non-friends-list-div .user-friend-div a {
          display: inline-block;
          font-size: 1.3rem;
          padding-left: 20px; }
