#body-container {
  border: 2px solid grey;
  border-radius: 5px;
  width: 98.7%;
  height: 87vh;
  margin: auto;
  margin-top: 5.7rem;
  margin-bottom: 65px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around; }
  #body-container #dashboard-div {
    height: 100%;
    width: 22.5%;
    border-radius: 5px 0 0 5px;
    border-right: 3px solid #b9b9b9; }
  #body-container #profile-container {
    background-image: linear-gradient(-45deg, #f09ea8, #bbddf0, #f5a6af);
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px; }
    #body-container #profile-container #profile-pic-container {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid black; }
      #body-container #profile-container #profile-pic-container img {
        height: 100%;
        width: 100%;
        background-color: #e0dcdc; }
    #body-container #profile-container #name-container {
      padding: 8px; }
      #body-container #profile-container #name-container span {
        display: inline-block;
        font-size: 2rem; }
    #body-container #profile-container #add-friend-container {
      padding: 10px;
      font-size: 1.2rem; }
      #body-container #profile-container #add-friend-container a {
        color: #5c5cec; }
      #body-container #profile-container #add-friend-container a:hover {
        color: #2727e9; }
    #body-container #profile-container #form-container {
      margin-top: 18px; }
      #body-container #profile-container #form-container input {
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 6px 9px;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 3px; }
      #body-container #profile-container #form-container input:hover {
        border: 1px solid grey;
        box-shadow: 2px 1.5px 1px #b8b3b3; }
      #body-container #profile-container #form-container input[type="email"] {
        width: 17rem; }
      #body-container #profile-container #form-container input[type="submit"] {
        background-color: #1877f2;
        cursor: pointer;
        color: white;
        font-weight: bold; }
      #body-container #profile-container #form-container input[type="submit"]:hover {
        background-color: #0d68e0;
        box-shadow: 2px 1.5px 1px #e4dddd;
        border: 1px solid transparent; }
      #body-container #profile-container #form-container input[type="file"] {
        background-image: linear-gradient(90deg, #8e9eab, #eef2f3);
        border: 1px solid black;
        padding: 4px; }

#dashboard-div {
  background-color: #08AEEA;
  background-image: linear-gradient(-45deg, #c0e3f0, #b5fadb, #c0e3f0); }
  #dashboard-div #me-container {
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 2.4rem;
    text-align: center;
    padding: 40px 0 0 0; }
    #dashboard-div #me-container #dp-container {
      width: 150px;
      height: 150px;
      margin: auto; }
      #dashboard-div #me-container #dp-container img {
        height: 100%;
        width: 100%;
        border-radius: 50%; }
    #dashboard-div #me-container #name-container {
      padding: 20px; }
      #dashboard-div #me-container #name-container span {
        display: inline-block;
        font-size: 1.5rem; }
        #dashboard-div #me-container #name-container span a {
          color: #424040; }
        #dashboard-div #me-container #name-container span a:hover {
          color: black; }
  #dashboard-div #menu-name-container {
    width: 80%;
    height: 40px;
    margin: auto;
    margin-bottom: 0.6rem; }
    #dashboard-div #menu-name-container span {
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  #dashboard-div #menu-div {
    width: 80%;
    height: 400px;
    margin: auto; }
    #dashboard-div #menu-div .a-tag-link {
      display: flex;
      height: 50px;
      width: 100%;
      color: #494646;
      padding-left: 2px;
      justify-content: space-around; }
      #dashboard-div #menu-div .a-tag-link .icon-div {
        height: 100%;
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #dashboard-div #menu-div .a-tag-link .icon-div i {
          display: inline-block;
          font-size: 1.36rem; }
      #dashboard-div #menu-div .a-tag-link .actual-option {
        height: 100%;
        width: 82%;
        display: flex;
        align-items: center; }
        #dashboard-div #menu-div .a-tag-link .actual-option span {
          display: inline-block;
          padding-left: 4px;
          width: 100%;
          font-size: 1.1rem; }
    #dashboard-div #menu-div .active {
      color: #3535f3; }
    #dashboard-div #menu-div .a-tag-link:hover {
      color: black; }
