#body-container {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-top: 6.8rem;
  padding-top: 35px;
  margin-bottom: 2.5rem;
  background-image: linear-gradient(120deg, #8e9eab, #eef2f3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  #body-container #profile-container {
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #body-container #profile-container #profile-pic-container {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid black; }
      #body-container #profile-container #profile-pic-container img {
        height: 100%;
        width: 100%;
        background-color: rgba(248, 248, 248, 0.1); }
    #body-container #profile-container #name-container {
      padding: 8px; }
      #body-container #profile-container #name-container span {
        display: inline-block;
        font-size: 2rem; }
    #body-container #profile-container #add-friend-container {
      padding: 10px;
      font-size: 1.2rem; }
      #body-container #profile-container #add-friend-container a {
        color: #5c5cec; }
      #body-container #profile-container #add-friend-container a:hover {
        color: #2727e9; }
